#invoice-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel.modal-title
          %b INVOICE
      .modal-body
        = render 'sales/shared/invoice'
      .modal-footer
        %button.btn.btn-default.btn-sm{:href => "#", :onclick => "window.location.reload();"} Close
        %button.btn.btn-sm.btn-info.pull-right{:href => "#", :onclick => "printDiv('print-me');"} Print
