<div class="row item_search_wrapper hidden-print">
  <!--<div class="col-sm-4">-->
    <!--<h4 class="text-info"><span class="glyphicon glyphicon-search"></span> Find</h4>-->

    <!--<hr />-->

    <!--&lt;!&ndash;<button class="btn" data-toggle="modal" data-target="#customItem">&ndash;&gt;-->
      <!--&lt;!&ndash;Create Custom Item&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--</div>-->
  <div class="col-sm-12">
    <div class="searched_items">
      <%= render :partial => 'sales/shared/searched_items' %>
    </div>
  </div>
</div>


<div class="print_totals visible-print">
  <%= render partial: 'sales/shared/invoice_totals' %>
</div>