<% if @sale.remaining_balance <= 0.00 && @sale.payments.count > 0 %>
  <div class="alert alert-success hidden-print">Payment Complete Change Due: <%= number_to_currency(@sale.change_due, unit: current_company.currency) %>
  </div>
<% else %>
    <% unless @sale.total_amount.blank? %>
        <button class="btn btn-success btn-md hidden-print total_price_output" style="margin-left:  5% ;margin-right:  5%; width: 90%;" data-toggle="modal" data-target="#makePayment">
          <span class="pull-left">Charge</span><span class="pull-right price_output btn-charge"><%= value_in_currency(@sale.total_amount) %></span>
        </button>
    <% end %>
<% end %>