<!--<h4 class="text-info"><span class="glyphicon glyphicon-tags"></span> Searched Items</h4>-->
<% unless @available_items.blank? %>
    <%= render 'items/partials/item_grid_view' , items: @available_items %>
<% end%>