<div class="modal fade" id="change_user_location">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><b>Change Location</b></h4>
      </div>
      <%= form_for :change_location , url: change_location_dashboard_index_path , method: :post do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">Location<span class="text-danger"> *</span></label>
          <div class="col-sm-10">
            <%= f.select(:location_id, current_user.locations.collect {|location| [ location.name, location.id ] }, {prompt: 'Select Location'} ,required: true , class: "form-control" ) %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.button "Save".html_safe , class: "btn btn-info" , data: {disable_with: disable_spinning("Saving...") }%>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>