<section class="vbox">
  <section class="scrollable padder">
    <%= render 'template/statistics'%>
    <%= render 'dashboard/partials/profit_and_loss_chart' %>
    <section class="panel panel-default">
      <header class="panel-heading bg-light">

        <div class="">
          <form class="form-inline pull-right">
            <div class="pull-left m-r-lg" style="margin-top: -8px">
              <label>Period Type</label>
              <select class="form-control" style="padding-top: 0px">
                <option value="YEARLY">Yearly</option>
                <option value="QUARTERLY" selected="">Quarterly</option>
                <option value="MONTHLY">Monthly</option>
              </select>
            </div>
            <div class="pull-left m-r-lg" style="margin-top: -8px">
              <label>Period</label>
              <select class="form-control" id="report-period-years" style="display:none; padding-top: 0px">

                <option value="2016">2016</option>

              </select>
              <select class="form-control" id="report-period-quarters">

                <option value="2016 Q4">2016 Q4</option>

              </select>
              <select id="report-period-months" class="form-control" style="display:none">

                <option value="12/2016">12/2016</option>

              </select>
            </div>
            <div class="pull-left" style="margin-top: -8px">
              <label>Currency</label>


              <select class="form-control" id="report-currency">
                <option value="1">
                  USD

                </option>
              </select>

            </div>
          </form>
          <div class="clear"></div>
        </div>
        <!--<ul class="nav nav-tabs pull-right">-->
          <!--<li class=""><a href="#messages-1" data-toggle="tab"><i class="fa fa-comments text-default"></i></a></li>-->
          <!--<li class="active"><a href="#profile-1" data-toggle="tab"><i class="fa fa-user text-default"></i> Profile</a></li>-->
          <!--<li class=""><a href="#settings-1" data-toggle="tab"><i class="fa fa-cog text-default"></i> Settings</a></li>-->
        <!--</ul>-->
        <span class="hidden-sm font-bold">Financial Position</span>
      </header>
      <div class="panel-body">
        <%= render 'dashboard/partials/financial_position' , sales: @sales , expenses: @expenses%>
      </div>
    </section>






  </section>
</section>
