<div class="m-b-md">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="m-b-none m-t-sm"><strong>Financial Dashboard</strong></h1>
      <!--<small>Statistics &amp; graph information</small>-->
    </div>
    <!--<div class="col-sm-6">-->
      <!--<div class="text-right text-left-xs">-->
        <!--<div class="sparkline m-l m-r-lg pull-right" data-type="bar" data-height="35" data-bar-width="6" data-bar-spacing="2" data-bar-color="#fb6b5b"><canvas width="86" height="35" style="display: inline-block; width: 86px; height: 35px; vertical-align: top;"></canvas></div>-->
            <!--<div class="m-t-sm">-->
                <!--<span class="text-uc">New users</span>-->
                <!--<div class="h4">-->
                  <!--<strong>1,120,100</strong>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>