.modal.fade{id: @customer.new_record? ? 'new_customer' : "edit_customer_#{@customer.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title
          %b Add New Customer
      =render 'customers/partials/form'
