.Monthlybreakdown .btn.btn-warning.btn-sm {
  float: right; }
  .Monthlybreakdown .btn.btn-warning.btn-sm .icon-plus {
    background: url("../images/icon-plus.png") no-repeat scroll 0 0/15px 15px;
    height: 15px;
    margin-right: 7px;
    width: 15px; }
.Monthlybreakdown .form-group {
  margin-bottom: 25px; }
.Monthlybreakdown .Primaryownerblock {
  display: inline-block;
  margin-top: 45px;
  margin-bottom: 20px;
  width: 100%; }
  .Monthlybreakdown .Primaryownerblock p {
    color: #6f6f6f; }
    .Monthlybreakdown .Primaryownerblock p strong {
      color: #6f6f6f; }
.Monthlybreakdown .tab-content {
  background: #ffffff;
  display: inline-block;
  padding: 35px 35px 15px;
  width: 100%; 
}
.Monthlybreakdown .tab-content h4 {
  color: #6f6f6f;
  margin: 30px 0;
  display: inline-block;
  width: 100%;
  font-size: 20px; 
}
.Monthlybreakdown .tab-content .tabbar_wrap select {
  max-width: 300px; 
}
.Monthlybreakdown .tab-content .tabbar_wrap .selectbox label {
  float: left;
  margin-right: 15px;
  margin-top: 6px; 
}
.Monthlybreakdown .tab-content .brokername {
  float: left;
  width: auto; 
}
.Monthlybreakdown .tab-content .brokername h3 {
  font-weight: bold;
  font-size: 15px;
  color: #6b6b6b;
  margin: 0 0 5px;
  display: inline-block;
  width: 100%; 
}
.Monthlybreakdown .tab-content .brokername h5 {
  font-size: 15px;
  color: #6b6b6b;
  margin: 0 0 5px;
  display: inline-block;
  width: 100%; 
}
.Monthlybreakdown .tab-content .right_dropmenu {
  float: right;
  width: auto;
  color: #6b6b6b; 
}
.Monthlybreakdown .tab-content .right_dropmenu .panel-heading.pull-right {
  padding: 10px 0;
  width: 100%;
  text-align: right; 
}
.Monthlybreakdown .tab-content .right_dropmenu .panel-heading.pull-right a {
  color: #6b6b6b;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  outline: 0 !important; 
}
.Monthlybreakdown .tab-content .right_dropmenu .panel-heading.pull-right a:hover {
  text-decoration: none;
  color: #6b6b6b; 
}
.Monthlybreakdown .tab-content .right_dropmenu .panel-heading.pull-right a img {
  float: right;
  margin-top: 6px; 
}
.Monthlybreakdown .tab-content .right_dropmenu .panel-heading.pull-right a span {
  display: inline-block;
  margin-left: 10px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s; 
}
.Monthlybreakdown .tab-content .right_dropmenu .member_remove {
  float: left; 
}
.Monthlybreakdown .tab-content .right_dropmenu .panel-body {
  padding: 0;
  display: inline-block;
}
.Monthlybreakdown .tab-content .right_dropmenu .panel-collapse a {
  color: #b2b2b2;
  text-decoration: underline;
  float: left;
  margin: 0 0 0 25px; 
}
.Monthlybreakdown .tab-content .right_dropmenu .panel-collapse a:hover {
  text-decoration: none; 
}
.Monthlybreakdown .nav-tabs li a {
  padding: 15px 28px 10px !important; 
}
.Monthlybreakdown .nav-tabs li.active a, .Monthlybreakdown .nav-tabs li:hover a, .Monthlybreakdown .nav-tabs li:focus a {
  background-color: #FFF !important;
  color: #566a82 !important;
  border-radius: 0;
  outline: 0 !important; 
}

.Monthlybreakdown .nav-tabs a {
  padding: 15px 18px 10px 18px !important;
  border: none !important;
  font-size: 18px;
  color: #999999 !important;
  margin: 0 !important;
}

.Monthlybreakdown .tab-content{
  border-left: none;
  margin-left: 0px;
}
