.pl-25p{
  padding-left: 25% !important;
}
.businesses.offer_letter {
  .signature-box-container {
    margin-left: 0;
    margin-bottom: 25px;
  }
  .user-management-blog,
  .offer_letter_submit_btn {
    margin-bottom: 15px;
  }
}