body.plan_selections{
  .Eenrollmentkitsblock samp.peoplecount{
    font-size: 14px;
  }
  .newest_employees_contant .table th, .newest_employees_contant .table td{
    text-align: left;
  }

  .Eenrollmentkitsblock h1{
    font-family: sans-serif;
  }
  .t-header{
    margin-right: 10px;
  }
  .Sending_Enrollment_Kit .Eenrollmentkitsblock .boxborder .checkbox label{
    font-weight: 100!important;
  }
}
