- if flash[:success].present?
  flash_success("#{flash[:success]}");
  $("#customer-#{@customer.id}").remove();
  - if @reload
    window.location.reload();
- elsif flash[:errors].present?
  - flash[:errors].each do |e|
    flash_error("#{e}");