/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*= require main
 *= require amaran/amaran.min

 *= require landing
 *= require bootstrap
 *= require font-awesome.min
 *= require font
 *= require fuelux/fuelux
 *= require app
 *= require select2/select2
 *= require select2/theme
 *= require animate
 *= require awesomplete
 *= require sweetalert
 *= require datepicker/datepicker
 *= require daterangepicker/daterangepicker
 *= require style
 *= require global
 *= require reports


 */

.table > thead > tr > th{
    background-color: #182F48 !important;
    color: #fff;
}
.b-b-b{
    border-bottom: 2px solid #cfcfcf;
    padding: 0px !important;
    width: 88%;
    margin: 10px 6%;
}
.b-b{
    border-bottom: 2px solid #cfcfcf;
}
.invoice-table > tr > td{
    border: 0px !important;
}
.no-border{
    border: 0px !important;
}