/*
*= require bootstrap
*= require daterangepicker-bs3
*= require waves/waves
*/
.m-r-7
{
  margin-right: 7px !important;
}
.search-expend {
  width: 170px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search-expend:focus {
  width: 150%;
}
abbr{
  color: red !important;
}
.date select.date.form-control {
  width: auto;
}
.btn-danger {
  color: #fff !important;
  background-color: #4cc0c1 !important;
  border-color: #4cc0c1 !important;
}
.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}