- if flash[:errors].present?
  - flash[:errors].each do |e|
    flash_error("#{e}");
- if flash[:success].present?
  $("table tbody").prepend("#{j render 'expenses/partials/tr' , expense: @expense}");
  $(".new_expense").modal("toggle");
  flash_success("#{flash[:success]}");